@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  min-width: 1440px;
  height: 100%;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  background-color: #ffe17f;
  position: relative;
  display: flex;
  padding: 46px 60px 36px 60px;
}

.page-header-index {
  padding-bottom: 134px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  position: absolute;
  top: -20px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-form {
  width: 517px;
  display: flex;
  margin-right: 25px;
}

.navigation-label {
  width: 360px;
  height: 40px;
  position: relative;
}

.navigation-label:focus-within::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-input {
  width: 360px;
  height: 40px;
  padding: 10px 10px 10px 50px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  background-color: #ffe17f;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  background-image: url("../images/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.navigation-input:disabled {
  opacity: 0.3;
}

.navigation-button {
  background-color: #ffe17f;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0 50px 50px 0;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  height: 40px;
  outline: none;
  position: relative;
  transform: translateX(-2px);
}

.navigation-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation-button:active {
  opacity: 0.3;
}

.navigation-button:focus-visible::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.navigation-button:disabled {
  opacity: 0.3;
}

.user-list {
  list-style: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 498px;
}

.user-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-item {
  margin-right: 25px;
}

.user-item:last-child {
  margin-right: 0;
}

.user-item-box {
  margin-right: auto;
}

.user-item-exit-index {
  display: none;
}

.user-link {
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-link:not(.user-link-exit) {
  padding-left: 23px;
}

.user-link-enter::before {
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../images/header/enter-icon.svg") ;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}

.user-link-compare::before {
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../images/header/comparing-icon.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}

.user-link-basket::before {
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../images/header/basket-icon.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}

.user-link-basket::after {
  content: attr(data-counter);
  background-color: #ffffff;
  position: absolute;
  left: 0;
  transform: translateX(-70%);
  border-radius: 10px;
  padding: 4px;
  min-width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.catalog-wrapper-header {
  margin-right: 276px;
  width: 293px;
}

.goods-button-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffe17f;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 293px;
}

.goods-button-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.goods-button-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.goods-button-header:hover::after,
.goods-button-header:hover::before {
  opacity: 1;
}

.goods-button-header:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.goods-list-header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.goods-link-header {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.goods-link-header-active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.goods-link-header:hover {
  opacity: 0.6;
}

.goods-link-header:active {
  opacity: 0.3;
}

.goods-link-header:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  align-items: center;
}

.navigation-item {
  margin-right: 45px;
  width: 125px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  margin-top: -110px;
  margin-bottom: 70px;
}

.slider-image-container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 560px;
  position: relative;
}

.slider-arrow-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: 30px;
  top: 210px;
}

.slider-arrow-item:not(:last-child) {
  margin-right: 490px;
}

.slider-arrow-button {
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  border: none;
}

.slider-arrow-button:hover {
  opacity: 0.6;
}

.slider-arrow-button:active {
  opacity: 0.3;
}

.slider-arrow-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-arrow-button-left {
  background-image: url("../images/index/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-arrow-button-right {
  background-image: url("../images/index/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-content {
  width: 560px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  counter-reset: section;
}

.slider-item {
  align-items: center;
  width: 1160px;
  position: relative;
  display: none;
  z-index: 1;
}

.slider-item-shown {
  display: flex;
}

.slider-item::before {
  position: absolute;
  counter-increment: section;
  content: "0" counters(section, "");
  color: #ffffff;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  top: 34px;
  right: 50px;
  z-index: -1;
}

.slider-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 30px;
}

.slider-description {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  margin-bottom: 60px;
}

.slider-link:focus-visible {
  outline: 2px solid #af4fff;
}

.slider-link:disabled {
  outline: 0.3;
}

.slider-parameters-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-parameters-definition {
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

.slider-parameters-term {
  font-size: 16px;
  color: #444444;
  margin: 0;
}

.fitness-bracelet-list {
  display: flex;
  flex-direction: column;
}

.slider-parameters-container:not(:last-child) {
  margin-right: 20px;
}

.selfie-sick-container:not(:last-child) {
  margin-right: 40px;
}

.slider-buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 542px;
}

.slider-buttons-item:not(:last-child) {
  margin-right: 20px;
}

.slider-button {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
}

.slider-button::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

.slider-button-current::before {
  background-color: #000000;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:disabled {
  opacity: 0.1;
}

.goods {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.goods-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.goods-item {
  width: 160px;
}

.goods-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: block;
  width: 160px;
  padding-top: 190px;
  position: relative;
}

.goods-link::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.goods-link-virtual::before {
  background-image: url("../images/index/virtual-reality.svg");
}

.goods-link-monopod::before {
  background-image: url("../images/index/monopod.svg");
}

.goods-link-camera::before {
  background-image: url("../images/index/camera.svg");
}

.goods-link-bracelet::before {
  background-image: url("../images/index/bracelet.svg");
}

.goods-link-clock::before {
  background-image: url("../images/index/clock.svg");
}

.goods-link-quadrocopter::before {
  background-image: url("../images/index/quadrocopter.svg");
}

.goods-link:hover::before {
  background-color: #ffc700;
}

.goods-link:active {
  opacity: 0.3;
}

.goods-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services {
  margin-bottom: 70px;
  position: relative;
  background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding: 70px 0;
  padding-right: 246px;
}


.services-list {
  width: 287px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 120px;
  position: relative;
}

.services-list::after {
  content: "";
  width: 7px;
  height: 319px;
  position: absolute;
  background-color: #000000;
  right: 0;
  top: -64px;
}

.services-item {
  margin-bottom: 45px;
  display: flex;
}

.services-item:last-child {
  margin-bottom: 0;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-item {
  position: relative;
  display: none;
}

.options-item-shown {
  display: block;
}

.options-item:first-child::after {
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../images/index/delivery-man.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 558px;
  bottom: 20px;
}

.options-item:nth-child(2)::after {
  content: "";
  width: 171px;
  height: 195px;
  background-image: url("../images/index/guarantee.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 558px;
  bottom: 20px;
}

.options-item:nth-child(3)::after {
  content: "";
  width: 156px;
  height: 188px;
  background-image: url("../images/index/credit.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 558px;
  bottom: 20px;
}

.options-heading {
  font-family: "Raleway", sans-serif;
  display: block;
  margin: 0;
  margin-bottom: 34px;
  font-size: 50px;
  line-height: 50px;
}

.options-description {
  color: #444444;
  margin: 0;
}

.delivery-rare {
  width: 1160px;
  min-height: 100px;
  margin: 0 auto 70px auto;
  text-align: center;
  background-color: #f0f0f0;
}

.delivery-rare-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  display: block;
  padding: 40px 0;
  position: relative;
}

.delivery-rare-link::before {
  content: "";
  width: 125px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/index/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
}

.delivery-rare-link:hover::before {
  background-color: #ffc700;
}

.delivery-rare-link::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 42px;
  top: 30px;
  border-radius: 50%;
  background-image: url("../images/index/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 220, 220, 0.5);
  opacity: 0.3;
}

.delivery-rare-link:hover::after {
  opacity: 1;
}

.delivery-rare-link:active {
  opacity: 0.3;
}

.delivery-rare-link:focus-visible {
  outline: 2px solid #af4fff;
}

.about-device {
  width: 1160px;
  padding: 48px 0 60px 0;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
}

.about-us {
  width: 520px;
  margin-right: 110px;
}

.contacts-device {
  width: 530px;
}

.about-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
}

.about-heading::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: -40px;
}

.about-description {
  color: #444444;
}

.transport-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.transport-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  position: relative;
}

.transport-item::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #ffc700;
  border-radius: 50%;
  left: -26px;
  top: 6px;
}

.transport-item:last-child {
  margin-bottom: 0;
}

.about-link:active {
  background-color: #ffcc33;
}

.about-link:focus-visible {
  outline: 2px solid #af4fff;
}

.about-link:disabled {
  outline: 0.3;
}

.contacts-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
}

.contacts-heading::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: -40px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.adress-heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.contacts-info {
  margin-bottom: 30px;
  font-style: normal;
}

.adress-description {
  color: #444444;
  margin: 0;
}

.adress-phone-link {
  text-decoration: none;
  text-decoration-line: underline;
  color: #444444;
}

.adress-phone-link:hover {
  color: #ffc700;
}

.adress-phone-link:active {
  opacity: 0.3;
}

.adress-phone-link:focus-visible {
  outline: 2px solid #af4fff;
}

.working-hours-heading {
  font-size: 24px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.working-hours-description {
  color: #444444;
  margin: 0;
}

.working-hours-description:last-of-type {
  margin-bottom: 30px;
}

.working-hours-link:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.working-hours-link:disabled {
  opacity: 0.3;
}

.subscription {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 56px;
  padding-top: 64px;
  background-color: #f0f0f0;
}

.subscription-content {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.subscription-heading {
  font-family: "Raleway", sans-serif;
  margin: 0 250px 144px 0;
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  margin: 0;
  color: #444444;
}

.subscription-input {
  height: 60px;
  width: 560px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-bottom: 3px solid #c4c4c4;
  background-color: #f0f0f0;
  padding: 10px 16px;
  outline: none;
}

.subscription-input:hover {
  background-color: #dcdcdc;
}

.subscription-input:focus-visible {
  border: 2px solid #af4fff;
}

.subscription-input-error {
  border-bottom: 3px solid #ff3d3d;
}

.subscription-input:disabled {
  opacity: 0.3;
}

.subscription-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 18px 40px;
  cursor: pointer;
  margin-right: 188px;
  height: 60px;
  width: 250px;
  transform: translate(-6px, 3px);
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.subscription-button:active {
  opacity: 0.3;
}

.subscription-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscription-button:disabled {
  opacity: 0.3;
}

.subscription-cost {
  color: #444444;
  position: relative;
}

.subscription-cost::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../images/index/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 5px;
  left: -30px;
}

.page-footer {
  background-color: #444444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 140px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-adress-container {
  margin-right: 124px;
  width: 240px;
  margin-top: -80px;
}

.footer-logo-link {
  width: 145px;
  height: 36px;
  display: block;
  margin-bottom: 35px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-logo-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-adress {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.footer-adress::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  bottom: -64px;
  left: 0;
}

.social-container {
  margin-right: 180px;
  width: 440px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 455px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.footer-service-item {
  margin-right: 28px;
}

.footer-service-item:last-child {
  margin-right: 0;
}

.footer-service-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.footer-service-link-rectangle {
  width: 125px;
  height: 2px;
  background-color: #ffc700;
  position: absolute;
  bottom: -4px;
  left: 0;
  display: none;
}

.footer-service-link:hover,
.footer-service-link:hover .footer-service-link-rectangle {
  color: #ffc700;
  display: block;
}

.footer-service-link:active {
  opacity: 0.3;
}

.footer-service-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.logo-footer-container {
  width: 175px;
}

.social-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.social-link {
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  outline: none;
  padding: 2px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  z-index: 1;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-link:hover::before {
  background-color: #ffc700;
}

.social-link:active .social-icon {
  opacity: 0.3;
}

.social-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-phone-link {
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 60px;
}

.footer-phone-link:hover {
  color: #ffc700;
}

.footer-phone-link:active {
  opacity: 0.3;
}

.footer-phone-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.academy-logo-link {
  fill: #ffc700;
  display: block;
  margin-left: auto;
  width: 116px;
  height: 34px;
}

.academy-logo-link:hover .academy-logo-icon {
  fill: #ffffff;
}

.academy-logo-link:active .academy-logo-icon {
  opacity: 0.3;
}

.academy-logo-link:focus-visible {
  outline: 1px solid #af4fff;
  outline-offset: 2px;
}

.user-link-exit {
  opacity: 0.3;
}

.catalog {
  width: 1160px;
  margin: 0 auto;
  padding-top: 35px;
}

.breadcrumbs {
  width: 1160px;
  padding: 34px 60px;
  box-sizing: border-box;
}

.catalog-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-left: 60px;
}

.breadcrumbs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  top: 6px;
  right: -16px;
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.filter {
  width: 320px;
  padding: 25px 60px 0;
  box-sizing: border-box;
}

.filter-container {
  position: relative;
  display: flex;
  width: 1160px;
  box-sizing: border-box;
}

.filter-container::before {
  content: "";
  min-width: 1440px;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  z-index: -1;
  left: -140px;
}

.filter-heading {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  margin-bottom: 72px;
  text-transform: uppercase;
  position: relative;
}

.filter-heading::after {
  position: absolute;
  width: 200px;
  height: 2px;
  content: "";
  background-color: #000000;
  bottom: -60px;
  left: 0;
}

.cost {
  border: none;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  position: relative;
}

.cost::after {
  position: absolute;
  width: 200px;
  height: 2px;
  content: "";
  background-color: #000000;
  bottom: -35px;
  left: 0;
}

.cost-heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.range-buttons-container {
  position: relative;
  width: 200px;
  display: flex;
  margin-bottom: 3px;
}

.range-buttons-container::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 6px;
  top: 15px;
  z-index: -1;
}

.range-buttons-container::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #dcdcdc;
  position: absolute;
  right: -4px;
  top: 15px;
  z-index: -1;
}

.range-button {
  width: 18px;
  height: 18px;
  border: none;
  margin-right: 100px;
  position: relative;
  outline: none;
  background-color: transparent;
  transform: translate(5px, 5px);
}

.range-button:last-child {
  margin-right: 0;
}

.range-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
}

.range-button:hover::before {
  opacity: 0.5;
}

.range-button:active::before {
  background-color: #000000;
  opacity: 1;
}

.range-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input {
  width: 30px;
  height: 18px;
  font-family: inherit;
  border: none;
  background-color: none;
  outline: none;
  margin-right: 67px;
}

.range-input:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input:last-child {
  width: 70px;
  padding: 0 8px 2px;
  margin-right: 0;
}

.color {
  border: none;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  position: relative;
}

.color::after {
  position: absolute;
  width: 200px;
  height: 2px;
  content: "";
  background-color: #000000;
  bottom: -35px;
  left: 0;
}

.color-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.color-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color-item {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.color-item:last-child {
  margin-bottom: 0;
}

.color-label {
  position: relative;
  min-height: 20px;
  display: flex;
}

.color-label:hover {
  opacity: 0.6;
}

.color-label:active {
  opacity: 0.3;
}

.color-checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
}

.color-checkbox:disabled ~ span {
  opacity: 0.1;
}

.color-checkbox-new {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.color-checkbox-new::before {
  content: "";
  background-image: url("../images/catalog/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  position: absolute;
  display: none;
}

.color-checkbox-new::after {
  content: "";
  border: 2px solid #cccccc;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}

.color-checkbox:checked + .color-checkbox-new::after {
  border-color: #000000;
}

.color-checkbox:checked + .color-checkbox-new::before {
  display: block;
}

.color-checkbox:focus-visible + .color-checkbox-new {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.bluetooth {
  width: 200px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  border: none;
}

.bluetooth-heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.bluetooth-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bluetooth-item:not(:last-child) {
  margin-bottom: 20px;
}

.bluetooth-label {
  font-size: 16px;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
  display: flex;
}

.bluetooth-label:hover {
  opacity: 0.6;
}

.bluetooth-label:active {
  opacity: 0.3;
}

.bluetooth-radio {
  margin: 0;
}

.bluetooth-radio:disabled ~ span {
  opacity: 0.1;
}

.bluetooth-radio-new {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bluetooth-radio-new::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #000000;
  border-radius: 50%;
  display: none;
}

.bluetooth-radio-new::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #000000;
}

.bluetooth-radio:focus-visible + .bluetooth-radio-new {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.bluetooth-radio:checked + .bluetooth-radio-new::before {
  display: block;
}

.filter-button:focus-visible {
  outline: 2px solid #af4fff;
}

.filter-button:disabled {
  opacity: 0.3;
}

.cards-container {
  width: 840px;
  padding-top: 25px;
  box-sizing: border-box;
}

.sorting {
  display: flex;
  padding-bottom: 25px;
  padding-left: 40px;
}

.sorting-heading {
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-right: 205px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-select {
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: #f0f0f0;
  margin-right: 202px;
  cursor: pointer;
}

.sorting-select:hover {
  opacity: 0.6;
}

.sorting-select:active {
  opacity: 0.3;
}

.sorting-select:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.sorting-select:disabled {
  opacity: 0.1;
}

.sorting-buttons-container {
  width: 60px;
  display: flex;
}

.sorting-button {
  width: 30px;
  height: 30px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.sorting-button:not(:last-child) {
  margin-right: 5px;
}

.sorting-button .sorting-button-icon {
  opacity: 0.2;
}

.sorting-button:hover .sorting-button-icon {
  opacity: 0.5;
}

.sorting-button:active .sorting-button-icon {
  opacity: 1;
}

.sorting-button:focus-visible {
  outline: 2px solid #af4fff;
}

.cards {
  background-color: #ffffff;
  padding: 70px 40px;
  width: 840px;
  box-sizing: border-box;
}

.goods-cards-list {
  list-style: none;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.goods-cards-item {
  width: 360px;
  position: relative;
}

.goods-cards-item::before {
  content: "Подробнее";
  position: absolute;
  top: 180px;
  left: 75px;
  width: 220px;
  height: 8px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 8px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffe17f;
}

.goods-cards-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.goods-cards-link {
  text-decoration: none;
  color: #000000;
  outline: none;
}

.goods-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.goods-cards-image {
  margin-bottom: 32px;
}

.goods-cards-heading {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.goods-cards-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.goods-cards-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  width: 760px;
  padding: 18px 40px;
  border: 3px solid #e5e5e5;
  margin-bottom: 44px;
}

.goods-cards-button:hover {
  border: 3px solid #000000;
}

.goods-cards-button:active {
  opacity: 0.3;
  border: 3px solid #000000;
}

.goods-cards-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.goods-cards-button:disabled {
  opacity: 0.3;
  border: 3px solid #e5e5e5;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 760px;
}

.pagination-item-back {
  margin-right: auto;
}

.pagination-item-towards {
  margin-left: auto;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  box-sizing: border-box;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-link-current {
  opacity: 0.6;
}

.pagination-link-direction {
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: inherit;
}

.pagination-link-direction:hover {
  background-color: #dcdcdc;
}

.pagination-link-direction:active {
  opacity: 0.3;
}

.pagination-link-direction:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-link-direction:disabled {
  opacity: 0.3;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

.button-decorated {
  padding: 15px 25px;
  position: relative;
  z-index: 1;
  transition: flex-grow 0.3s ease, color 0.3s ease, padding-left 0.3s ease;
}

.button-decorated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe17f;
  transform: translateZ(0) scaleY(0.2);
  z-index: -1;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-decorated:hover::before {
  transform: translateZ(0) scaleY(1);
}

.button-decorated:active::before {
  background-color: #ffcc33;
}

.services-button-active.button-decorated {
  flex-grow: 1;
  color: #ffe17f;
}

.services-button-active.button-decorated:hover,
.services-button-active.button-decorated:active,
.services-button-active.button-decorated:focus-visible {
  padding-left: 40px;
}

.services-button-active.button-decorated::before,
.services-button-active:focus-visible {
  transform: translateZ(0) scaleY(1);
  background-color: #000000;
}

.services-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/*
.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}

.modal-window {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
  padding: 72px 80px 72px 80px;
  position: relative;
  border: 10px solid #000000;
}

.modal-window-heading {
  margin: 0;
  margin-bottom: 42px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.modal-window-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modal-window-wrapper:last-child {
  margin-bottom: 0;
}

.modal-window-label {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
  gap: 14px;
}

.modal-window-input {
  background-color: #f0f0f0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  padding: 20px;
  width: 360px;
}

.modal-window-button {
  font-family: "Raleway", sans-serif;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
} */
